:root
	--white-color: #FFFFFF
	--dark-white-color: #D9D9D9
	--gray-color: #E0E0E0
	--dop-gray-color: #EAEAEA
	--dop1-gray-color: #333333
	--dop3-gray-color: #F2F2F2
	--dark-gray-color: #4F4F4F
	--dark2-gray-color: #CDCFD0
	--silver-color: #BDBDBD
	--dop-silver-color: #656565
	--dop2-silver-color: #F3F3F3
	--black-color: #01030C 
	--black-dop-color: #000000
	--black-dop1-color: #030404
	--black-dop2-color: #040404
	--black-dop3-color: #060605
	--black-dop4-color: #333333
	--blue-color: #122872 
	--blue-dark-color: #030404
	--blue-dop-color: #1C41C1
	--blue-dop1-color: #214BDE
	--blue-dop2-color: #1F48D7
	--red-color: #FF6866