.back-dots
    .back-dots__dot.back-dots__dot--small
    .back-dots__dot.back-dots__dot--big
    .back-dots__dot.back-dots__dot--small
    .back-dots__dot.back-dots__dot--small
    .back-dots__dot.back-dots__dot--big
    .back-dots__dot.back-dots__dot--small
    .back-dots__dot.back-dots__dot--big
    .back-dots__dot.back-dots__dot--small
    .back-dots__dot.back-dots__dot--big
    .back-dots__dot.back-dots__dot--small