.cases.dark-back
	.cases__title Кейсы
	.cases__wrapper
		ul.cases__nav 
			li(data-slide="0").cases__nav-item 
				a.cases__nav-href
					include ../../images/svg/arrow.svg
					| Аудит
			li(data-slide="1").cases__nav-item 
				a.cases__nav-href
					include ../../images/svg/arrow.svg
					| Налоги
			li(data-slide="2").cases__nav-item 
				a.cases__nav-href
					include ../../images/svg/arrow.svg
					| Оценка
			li(data-slide="3").cases__nav-item 
				a.cases__nav-href
					include ../../images/svg/arrow.svg
					| Юридические услуги
			li(data-slide="4").cases__nav-item 
				a.cases__nav-href
					include ../../images/svg/arrow.svg
					| Экспертиза в сфере энергетики и коммунальных услуг						
			li(data-slide="5").cases__nav-item 
				a.cases__nav-href
					include ../../images/svg/arrow.svg
					| Экономическая экспертиза
			li(data-slide="6").cases__nav-item 
				a.cases__nav-href

					include ../../images/svg/arrow.svg
					| Web-разработка
			li(data-slide="7").cases__nav-item 
				a.cases__nav-href

					include ../../images/svg/arrow.svg
					| Интернет маркетинг
			li(data-slide="8").cases__nav-item 
				a.cases__nav-href

					include ../../images/svg/arrow.svg
					| Аудит коммерческого отдела
			li(data-slide="9").cases__nav-item 
				a.cases__nav-href

					include ../../images/svg/arrow.svg
					| Создание и сопровождение<br/>стратегии изменений
			li(data-slide="10").cases__nav-item 
				a.cases__nav-href

					include ../../images/svg/arrow.svg
					| Масштабирование

		include ../components/slider-cases.pug