.cases.dark-back
	.cases__title Кейсы
	.cases__wrapper
		ul.cases__nav 
			li(data-slide="0").cases__nav-item 
				a Аудит
			li(data-slide="1").cases__nav-item 
				a Налоги
			li(data-slide="2").cases__nav-item 
				a Оценка
			li(data-slide="3").cases__nav-item 
				a Юридические услуги
			li(data-slide="4").cases__nav-item 
				a Экспертиза в сфере энергетики<br/>и коммунальных услуг
			li(data-slide="5").cases__nav-item 
				a Экономическая экспертиза
			li(data-slide="6").cases__nav-item 
				a Web-разработка
			li(data-slide="7").cases__nav-item 
				a Интернет маркетинг
			li(data-slide="8").cases__nav-item 
				a Аудит коммерческого отдела
			li(data-slide="9").cases__nav-item 
				a Создание и сопровождение<br/>стратегии изменений
			li(data-slide="10").cases__nav-item 
				a Масштабирование
				
		include ../components/slider-cases.pug