.contacts
    h4.contacts__title Оставьте заявку<br/>и получите бесплатную консультацию
    p.contacts__subtitle Заполните форму и отправьте заявку. Наши специалисты перезвонят<br/>Вам в течение пяти минут и проконсультируют по интересующим вопросам.

    include ../components/form.pug