.cursor.cursor--active
    .cursor__border
        .wrapper-arrows
            img(src="./images/svg/arrow.svg", alt="arrow").cursor__arrow.cursor__arrow--white
            img(src="./images/svg/cursor-dark.svg", alt="arrow").cursor__arrow.cursor__arrow--dark
        .cursor__top-left
        .cursor__bottom-left
        .cursor__top-right
        .cursor__bottom-right
    .cursor__box