footer.footer 
	.footer__general 
		a.footer__logo 
			include ../../images/header/logo.svg

		nav.footer__nav 
			ul.footer__nav-list
				li.footer__nav-item
					a(href="#services") Услуги
				li.footer__nav-item
					a(href="#cases") Кейсы
				li.footer__nav-item
					a(href="#team") О нас
				li.footer__nav-item
					a(href="#contacts") Контакты
		
		.footer__contacts
			.footer__number 
				a(href="tel:89519272166").footer__tel +7 (951) 927-21-66
				p Прием звонков:<br/>с 9:00 до 20:00 (Пн-Пт)
			.footer__adress
				p 614007, г. Пермь,<br/>ул. Революции 20,<br/>БЦ BONUS, оф. 713



	.footer__dop
		p Создание сайта
		a(href="https://amado-id.ru/").footer__amado.cursor-on
			include ../../images/svg/amado.svg
