.modal-back
    nav.modal-menu
        .modal-menu__close 
            include ../../images/svg/close-menu.svg
        ul.modal-menu__list
            li
                a(href="#services").modal-menu__item Услуги
            li
                a(href="#cases").modal-menu__item Кейсы
            li
                a(href="#team").modal-menu__item О нас
            li
                a(href="#contacts").modal-menu__item Контакты

        .modal-menu__tel 
            a(href="tel: 79519272166").modal-menu__phone +7 (951) 927-21-66
            p.modal-menu__time Прием звонков:<br/>с 9:00 до 20:00 (Пн-Пт)

        p.modal-menu__contacts 614007, г. Пермь,<br/>ул. Революции 20,<br/>БЦ BONUS, оф. 713

