.services.white-back
    h3.services__title Услуги
    .services__cards
        include ../components/services-first.pug
        include ../components/services-second.pug
        include ../components/services-third.pug