.services-item
    .services-item__click-box.cursor-on
        .services-item__box-arrow
            include ../../images/svg/box-arrow.svg
        .services-item__img 
            .services-item__defaul-img
                include ../../images/svg/services-second.svg
            .services-item__active-img.second-img
                include ../../images/svg/services-second-active.svg
        .services-item__title Web-разработка и интернет-маркетинг

    .modal-service.dark-back
        a.modal-service__close
            include ../../images/svg/close-menu.svg
        ul.modal-service__list
            li 
                a.modal-service__title
                    p Аудит
                        include ../../images/svg/small-arrow.svg
                ul.modal-service__dop-list
                    li налоговый аудит
                    li обязательный/инициативный аудит по РСБУ/МСФО
                    li составление консолидированной отчетности
                    li независимая инвентаризация
                    li восстановление бухгалтерского и налогового учета
                    li консультации по бухгалтерскому и налоговому учету

            li 
                a.modal-service__title
                    p Налоги
                        include ../../images/svg/small-arrow.svg
                ul.modal-service__dop-list
                    li налоговый аудит
                    li обязательный/инициативный аудит по РСБУ/МСФО
                    li составление консолидированной отчетности
                    li независимая инвентаризация
                    li восстановление бухгалтерского и налогового учета
                    li консультации по бухгалтерскому и налоговому учету

            li 
                a.modal-service__title
                    p Оценка
                        include ../../images/svg/small-arrow.svg
                ul.modal-service__dop-list
                    li налоговый аудит
                    li обязательный/инициативный аудит по РСБУ/МСФО
                    li составление консолидированной отчетности
                    li независимая инвентаризация
                    li восстановление бухгалтерского и налогового учета
                    li консультации по бухгалтерскому и налоговому учету
                    li составление консолидированной отчетности
                    li независимая инвентаризация
                    li восстановление бухгалтерского и налогового учета
                    li консультации по бухгалтерскому и налоговому учету

            li 
                a.modal-service__title
                    p Экспертиза в сфере энергетики и коммунальных услуг
                        include ../../images/svg/small-arrow.svg
                ul.modal-service__dop-list
                    li налоговый аудит
                    li обязательный/инициативный аудит по РСБУ/МСФО
                    li составление консолидированной отчетности
                    li независимая инвентаризация
                    li восстановление бухгалтерского и налогового учета
                    li консультации по бухгалтерскому и налоговому учету
