.services-item
	.services-item__click-box.cursor-on
		.services-item__box-arrow
			include ../../images/svg/box-arrow.svg
		.services-item__img 
			.services-item__defaul-img
				include ../../images/svg/services-first.svg
			.services-item__active-img.first-img
				include ../../images/svg/services-first-active.svg
		.services-item__title Выстраивание процесса продаж

	.modal-service.dark-back.blue-popup
		a.modal-service__close
			include ../../images/svg/close-menu.svg
		ul(data-simplebar).modal-service__list.accordeon-wrapper
			li 
				a.modal-service__title.accordeon-clickBox
					p Аудит
						include ../../images/svg/small-arrow.svg
				ul.modal-service__dop-list.accordeon-dopList
					li налоговый аудит
					li обязательный/инициативный аудит по РСБУ/МСФО
					li составление консолидированной отчетности
					li независимая инвентаризация
					li восстановление бухгалтерского и налогового учета
					li консультации по бухгалтерскому и налоговому учету

			li 
				a.modal-service__title.accordeon-clickBox
					p Налоги
						include ../../images/svg/small-arrow.svg
				ul.modal-service__dop-list.accordeon-dopList
					li налоговый аудит
					li обязательный/инициативный аудит по РСБУ/МСФО
					li составление консолидированной отчетности
					li независимая инвентаризация
					li восстановление бухгалтерского и налогового учета
					li консультации по бухгалтерскому и налоговому учету

			li 
				a.modal-service__title.accordeon-clickBox
					p Оценка
						include ../../images/svg/small-arrow.svg
				ul.modal-service__dop-list.accordeon-dopList
					li налоговый аудит
					li обязательный/инициативный аудит по РСБУ/МСФО
					li составление консолидированной отчетности
					li независимая инвентаризация
					li восстановление бухгалтерского и налогового учета
					li консультации по бухгалтерскому и налоговому учету
					li составление консолидированной отчетности
					li независимая инвентаризация
					li восстановление бухгалтерского и налогового учета
					li консультации по бухгалтерскому и налоговому учету

			li 
				a.modal-service__title.accordeon-clickBox
					p Экспертиза в сфере энергетики и коммунальных услуг
						include ../../images/svg/small-arrow.svg
				ul.modal-service__dop-list.accordeon-dopList
					li налоговый аудит
					li обязательный/инициативный аудит по РСБУ/МСФО
					li составление консолидированной отчетности
					li независимая инвентаризация
					li восстановление бухгалтерского и налогового учета
					li консультации по бухгалтерскому и налоговому учету
