.cases-slider
	.swiper.cases-swiper
		.swiper-wrapper.cases-wrapper 
			div(data-slide="0").swiper-slide.cases-wrapper__slide
				a
					include ../components/cases-slider-item.pug
					.cases-wrapper__info.blue-popup
						.cases-wrapper__info-close
							include ../../images/svg/close-menu.svg
						div(data-simplebar).cases-wrapper__info-wrapper
							h4.cases-wrapper__info-title Аудит юридической компании
							p.cases-wrapper__info-text В нашей практике был случай, когда компания, работая с постоянным аудитором несколько лет по заниженной цене, считала, что в учете все хорошо, однако решила удостовериться в этом, наняв стороннюю компанию и проведя аудит повторно за последний год. Было выбрано ООО "Инвест-аудит". В результате нашей проверки выяснились крупные недочеты в учете вложений во внеоборотные активы. При чем не только с точки зрения аналитического учета пообъектно, но и с точки зрения документального оформления.
			div(data-slide="1").swiper-slide.cases-wrapper__slide
				a
					include ../components/cases-slider-item.pug
					.cases-wrapper__info.blue-popup
						.cases-wrapper__info-close
							include ../../images/svg/close-menu.svg
						div(data-simplebar).cases-wrapper__info-wrapper
							h4.cases-wrapper__info-title Аудит юридической компании
							p.cases-wrapper__info-text В нашей практике был случай, когда компания, работая с постоянным аудитором несколько лет по заниженной цене, считала, что в учете все хорошо, однако решила удостовериться в этом, наняв стороннюю компанию и проведя аудит повторно за последний год. Было выбрано ООО "Инвест-аудит". В результате нашей проверки выяснились крупные недочеты в учете вложений во внеоборотные активы. При чем не только с точки зрения аналитического учета пообъектно, но и с точки зрения документального оформления.
			div(data-slide="2").swiper-slide.cases-wrapper__slide
				a
					include ../components/cases-slider-item.pug
					.cases-wrapper__info.blue-popup
						.cases-wrapper__info-close
							include ../../images/svg/close-menu.svg
						div(data-simplebar).cases-wrapper__info-wrapper
							h4.cases-wrapper__info-title Аудит юридической компании
							p.cases-wrapper__info-text В нашей практике был случай, когда компания, работая с постоянным аудитором несколько лет по заниженной цене, считала, что в учете все хорошо, однако решила удостовериться в этом, наняв стороннюю компанию и проведя аудит повторно за последний год. Было выбрано ООО "Инвест-аудит". В результате нашей проверки выяснились крупные недочеты в учете вложений во внеоборотные активы. При чем не только с точки зрения аналитического учета пообъектно, но и с точки зрения документального оформления.
			div(data-slide="3").swiper-slide.cases-wrapper__slide
				a
					include ../components/cases-slider-item.pug
					.cases-wrapper__info.blue-popup
						.cases-wrapper__info-close
							include ../../images/svg/close-menu.svg
						div(data-simplebar).cases-wrapper__info-wrapper
							h4.cases-wrapper__info-title Аудит юридической компании
							p.cases-wrapper__info-text В нашей практике был случай, когда компания, работая с постоянным аудитором несколько лет по заниженной цене, считала, что в учете все хорошо, однако решила удостовериться в этом, наняв стороннюю компанию и проведя аудит повторно за последний год. Было выбрано ООО "Инвест-аудит". В результате нашей проверки выяснились крупные недочеты в учете вложений во внеоборотные активы. При чем не только с точки зрения аналитического учета пообъектно, но и с точки зрения документального оформления.
			div(data-slide="4").swiper-slide.cases-wrapper__slide
				a
					include ../components/cases-slider-item.pug
					.cases-wrapper__info.blue-popup
						.cases-wrapper__info-close
							include ../../images/svg/close-menu.svg
						div(data-simplebar).cases-wrapper__info-wrapper
							h4.cases-wrapper__info-title Аудит юридической компании
							p.cases-wrapper__info-text В нашей практике был случай, когда компания, работая с постоянным аудитором несколько лет по заниженной цене, считала, что в учете все хорошо, однако решила удостовериться в этом, наняв стороннюю компанию и проведя аудит повторно за последний год. Было выбрано ООО "Инвест-аудит". В результате нашей проверки выяснились крупные недочеты в учете вложений во внеоборотные активы. При чем не только с точки зрения аналитического учета пообъектно, но и с точки зрения документального оформления.
			div(data-slide="5").swiper-slide.cases-wrapper__slide
				a
					include ../components/cases-slider-item.pug
					.cases-wrapper__info.blue-popup
						.cases-wrapper__info-close
							include ../../images/svg/close-menu.svg
						div(data-simplebar).cases-wrapper__info-wrapper
							h4.cases-wrapper__info-title Аудит юридической компании
							p.cases-wrapper__info-text В нашей практике был случай, когда компания, работая с постоянным аудитором несколько лет по заниженной цене, считала, что в учете все хорошо, однако решила удостовериться в этом, наняв стороннюю компанию и проведя аудит повторно за последний год. Было выбрано ООО "Инвест-аудит". В результате нашей проверки выяснились крупные недочеты в учете вложений во внеоборотные активы. При чем не только с точки зрения аналитического учета пообъектно, но и с точки зрения документального оформления.
			div(data-slide="6").swiper-slide.cases-wrapper__slide
				a
					include ../components/cases-slider-item.pug
					.cases-wrapper__info.blue-popup
						.cases-wrapper__info-close
							include ../../images/svg/close-menu.svg
						div(data-simplebar).cases-wrapper__info-wrapper
							h4.cases-wrapper__info-title Аудит юридической компании
							p.cases-wrapper__info-text В нашей практике был случай, когда компания, работая с постоянным аудитором несколько лет по заниженной цене, считала, что в учете все хорошо, однако решила удостовериться в этом, наняв стороннюю компанию и проведя аудит повторно за последний год. Было выбрано ООО "Инвест-аудит". В результате нашей проверки выяснились крупные недочеты в учете вложений во внеоборотные активы. При чем не только с точки зрения аналитического учета пообъектно, но и с точки зрения документального оформления.
			div(data-slide="7").swiper-slide.cases-wrapper__slide
				a
					include ../components/cases-slider-item.pug
					.cases-wrapper__info.blue-popup
						.cases-wrapper__info-close
							include ../../images/svg/close-menu.svg
						div(data-simplebar).cases-wrapper__info-wrapper
							h4.cases-wrapper__info-title Аудит юридической компании
							p.cases-wrapper__info-text В нашей практике был случай, когда компания, работая с постоянным аудитором несколько лет по заниженной цене, считала, что в учете все хорошо, однако решила удостовериться в этом, наняв стороннюю компанию и проведя аудит повторно за последний год. Было выбрано ООО "Инвест-аудит". В результате нашей проверки выяснились крупные недочеты в учете вложений во внеоборотные активы. При чем не только с точки зрения аналитического учета пообъектно, но и с точки зрения документального оформления.
			div(data-slide="8").swiper-slide.cases-wrapper__slide
				a
					include ../components/cases-slider-item.pug
					.cases-wrapper__info.blue-popup
						.cases-wrapper__info-close
							include ../../images/svg/close-menu.svg
						div(data-simplebar).cases-wrapper__info-wrapper
							h4.cases-wrapper__info-title Аудит юридической компании
							p.cases-wrapper__info-text В нашей практике был случай, когда компания, работая с постоянным аудитором несколько лет по заниженной цене, считала, что в учете все хорошо, однако решила удостовериться в этом, наняв стороннюю компанию и проведя аудит повторно за последний год. Было выбрано ООО "Инвест-аудит". В результате нашей проверки выяснились крупные недочеты в учете вложений во внеоборотные активы. При чем не только с точки зрения аналитического учета пообъектно, но и с точки зрения документального оформления.
			div(data-slide="9").swiper-slide.cases-wrapper__slide
				a
					include ../components/cases-slider-item.pug
					.cases-wrapper__info.blue-popup
						.cases-wrapper__info-close
							include ../../images/svg/close-menu.svg
						div(data-simplebar).cases-wrapper__info-wrapper
							h4.cases-wrapper__info-title Аудит юридической компании
							p.cases-wrapper__info-text В нашей практике был случай, когда компания, работая с постоянным аудитором несколько лет по заниженной цене, считала, что в учете все хорошо, однако решила удостовериться в этом, наняв стороннюю компанию и проведя аудит повторно за последний год. Было выбрано ООО "Инвест-аудит". В результате нашей проверки выяснились крупные недочеты в учете вложений во внеоборотные активы. При чем не только с точки зрения аналитического учета пообъектно, но и с точки зрения документального оформления.
			div(data-slide="10").swiper-slide.cases-wrapper__slide
				a
					include ../components/cases-slider-item.pug
					.cases-wrapper__info.blue-popup
						.cases-wrapper__info-close
							include ../../images/svg/close-menu.svg
						div(data-simplebar).cases-wrapper__info-wrapper
							h4.cases-wrapper__info-title Аудит юридической компании
							p.cases-wrapper__info-text В нашей практике был случай, когда компания, работая с постоянным аудитором несколько лет по заниженной цене, считала, что в учете все хорошо, однако решила удостовериться в этом, наняв стороннюю компанию и проведя аудит повторно за последний год. Было выбрано ООО "Инвест-аудит". В результате нашей проверки выяснились крупные недочеты в учете вложений во внеоборотные активы. При чем не только с точки зрения аналитического учета пообъектно, но и с точки зрения документального оформления.

		.cases-swiper-nav 
			a.cases-swiper-nav__prev
				include ../../images/svg/arrow-small.svg
			.swiper-pagination.cases-swiper-nav__pagination
			a.cases-swiper-nav__next
				include ../../images/svg/arrow-small.svg

