include ../mixins/buttons.pug
.team-slider
    .swiper.cases-swiper
        .swiper-wrapper.cases-wrapper.team-wrapper
            div(data-slide="0").swiper-slide.team-wrapper__slide.dark-back

                include ../components/team-slider-item.pug
                .cases-wrapper__info.blue-popup
                    .cases-wrapper__info-close
                        include ../../images/svg/close-menu.svg
                    div(data-simplebar).cases-wrapper__info-wrapper
                        h4.cases-wrapper__info-title Егор Чурин
                        p.cases-wrapper__info-dop Генеральный директор аудиторской компании «Инвест-аудит»
                        p.cases-wrapper__info-text Эксперт в области антикризисного управления, финансового и юридического консультирования компаний. Член Совета Приволжского ТО СРО ААС. Руководитель комитета Деловой России «По бюджетам, налогам НМА»<br/>
                        .team-wrapper__site 
                            p.cases-wrapper__info-text Сайт компании:
                            .team-wrapper__site-btn
                                +button('href', 'invest-audit.ru', 'invest-audit.ru')
            div(data-slide="1").swiper-slide.team-wrapper__slide.dark-back

                include ../components/team-slider-item.pug
                .cases-wrapper__info.blue-popup
                    .cases-wrapper__info-close
                        include ../../images/svg/close-menu.svg
                    div(data-simplebar).cases-wrapper__info-wrapper
                        h4.cases-wrapper__info-title Егор Чурин
                        p.cases-wrapper__info-dop Генеральный директор аудиторской компании «Инвест-аудит»
                        p.cases-wrapper__info-text Эксперт в области антикризисного управления, финансового и юридического консультирования компаний. Член Совета Приволжского ТО СРО ААС. Руководитель комитета Деловой России «По бюджетам, налогам НМА»<br/>
                        .team-wrapper__site 
                            p.cases-wrapper__info-text Сайт компании:
                            .team-wrapper__site-btn
                                +button('href', 'invest-audit.ru', 'invest-audit.ru')

            div(data-slide="2").swiper-slide.team-wrapper__slide.dark-back

                include ../components/team-slider-item.pug
                .cases-wrapper__info.blue-popup
                    .cases-wrapper__info-close
                        include ../../images/svg/close-menu.svg
                    div(data-simplebar).cases-wrapper__info-wrapper
                        h4.cases-wrapper__info-title Егор Чурин
                        p.cases-wrapper__info-dop Генеральный директор аудиторской компании «Инвест-аудит»
                        p.cases-wrapper__info-text Эксперт в области антикризисного управления, финансового и юридического консультирования компаний. Член Совета Приволжского ТО СРО ААС. Руководитель комитета Деловой России «По бюджетам, налогам НМА»<br/>
                        .team-wrapper__site 
                            p.cases-wrapper__info-text Сайт компании:
                            .team-wrapper__site-btn
                                +button('href', 'invest-audit.ru', 'invest-audit.ru')


            div(data-slide="3").swiper-slide.team-wrapper__slide.dark-back

                include ../components/team-slider-item.pug
                .cases-wrapper__info.blue-popup
                    .cases-wrapper__info-close
                        include ../../images/svg/close-menu.svg
                    div(data-simplebar).cases-wrapper__info-wrapper
                        h4.cases-wrapper__info-title Егор Чурин
                        p.cases-wrapper__info-dop Генеральный директор аудиторской компании «Инвест-аудит»
                        p.cases-wrapper__info-text Эксперт в области антикризисного управления, финансового и юридического консультирования компаний. Член Совета Приволжского ТО СРО ААС. Руководитель комитета Деловой России «По бюджетам, налогам НМА»<br/>
                        .team-wrapper__site 
                            p.cases-wrapper__info-text Сайт компании:
                            .team-wrapper__site-btn
                                +button('href', 'invest-audit.ru', 'invest-audit.ru')

            div(data-slide="4").swiper-slide.team-wrapper__slide.dark-back

                include ../components/team-slider-item.pug
                .cases-wrapper__info.blue-popup
                    .cases-wrapper__info-close
                        include ../../images/svg/close-menu.svg
                    div(data-simplebar).cases-wrapper__info-wrapper
                        h4.cases-wrapper__info-title Егор Чурин
                        p.cases-wrapper__info-dop Генеральный директор аудиторской компании «Инвест-аудит»
                        p.cases-wrapper__info-text Эксперт в области антикризисного управления, финансового и юридического консультирования компаний. Член Совета Приволжского ТО СРО ААС. Руководитель комитета Деловой России «По бюджетам, налогам НМА»<br/>
                        .team-wrapper__site 
                            p.cases-wrapper__info-text Сайт компании:
                            .team-wrapper__site-btn
                                +button('href', 'invest-audit.ru', 'invest-audit.ru')

            div(data-slide="5").swiper-slide.team-wrapper__slide.dark-back

                include ../components/team-slider-item.pug
                .cases-wrapper__info.blue-popup
                    .cases-wrapper__info-close
                        include ../../images/svg/close-menu.svg
                    div(data-simplebar).cases-wrapper__info-wrapper
                        h4.cases-wrapper__info-title Егор Чурин
                        p.cases-wrapper__info-dop Генеральный директор аудиторской компании «Инвест-аудит»
                        p.cases-wrapper__info-text Эксперт в области антикризисного управления, финансового и юридического консультирования компаний. Член Совета Приволжского ТО СРО ААС. Руководитель комитета Деловой России «По бюджетам, налогам НМА»<br/> 
                        .team-wrapper__site 
                            p.cases-wrapper__info-text Сайт компании:
                            .team-wrapper__site-btn
                                +button('href', 'invest-audit.ru', 'invest-audit.ru')

            div(data-slide="6").swiper-slide.team-wrapper__slide.dark-back

                include ../components/team-slider-item.pug
                .cases-wrapper__info.blue-popup
                    .cases-wrapper__info-close
                        include ../../images/svg/close-menu.svg
                    div(data-simplebar).cases-wrapper__info-wrapper
                        h4.cases-wrapper__info-title Егор Чурин
                        p.cases-wrapper__info-dop Генеральный директор аудиторской компании «Инвест-аудит»
                        p.cases-wrapper__info-text Эксперт в области антикризисного управления, финансового и юридического консультирования компаний. Член Совета Приволжского ТО СРО ААС. Руководитель комитета Деловой России «По бюджетам, налогам НМА»<br/>
                        .team-wrapper__site 
                            p.cases-wrapper__info-text Сайт компании:
                            .team-wrapper__site-btn
                                +button('href', 'invest-audit.ru', 'invest-audit.ru')

            div(data-slide="7").swiper-slide.team-wrapper__slide.dark-back

                include ../components/team-slider-item.pug
                .cases-wrapper__info.blue-popup
                    .cases-wrapper__info-close
                        include ../../images/svg/close-menu.svg
                    div(data-simplebar).cases-wrapper__info-wrapper
                        h4.cases-wrapper__info-title Егор Чурин
                        p.cases-wrapper__info-dop Генеральный директор аудиторской компании «Инвест-аудит»
                        p.cases-wrapper__info-text Эксперт в области антикризисного управления, финансового и юридического консультирования компаний. Член Совета Приволжского ТО СРО ААС. Руководитель комитета Деловой России «По бюджетам, налогам НМА»<br/>
                        .team-wrapper__site 
                            p.cases-wrapper__info-text Сайт компании:
                            .team-wrapper__site-btn
                                +button('href', 'invest-audit.ru', 'invest-audit.ru')

            div(data-slide="8").swiper-slide.team-wrapper__slide.dark-back

                include ../components/team-slider-item.pug
                .cases-wrapper__info.blue-popup
                    .cases-wrapper__info-close
                        include ../../images/svg/close-menu.svg
                    div(data-simplebar).cases-wrapper__info-wrapper
                        h4.cases-wrapper__info-title Егор Чурин
                        p.cases-wrapper__info-dop Генеральный директор аудиторской компании «Инвест-аудит»
                        p.cases-wrapper__info-text Эксперт в области антикризисного управления, финансового и юридического консультирования компаний. Член Совета Приволжского ТО СРО ААС. Руководитель комитета Деловой России «По бюджетам, налогам НМА»<br/>
                        .team-wrapper__site 
                            p.cases-wrapper__info-text Сайт компании:
                            .team-wrapper__site-btn
                                +button('href', 'invest-audit.ru', 'invest-audit.ru')

            div(data-slide="9").swiper-slide.team-wrapper__slide.dark-back

                include ../components/team-slider-item.pug
                .cases-wrapper__info.blue-popup
                    .cases-wrapper__info-close
                        include ../../images/svg/close-menu.svg
                    div(data-simplebar).cases-wrapper__info-wrapper
                        h4.cases-wrapper__info-title Егор Чурин
                        p.cases-wrapper__info-dop Генеральный директор аудиторской компании «Инвест-аудит»
                        p.cases-wrapper__info-text Эксперт в области антикризисного управления, финансового и юридического консультирования компаний. Член Совета Приволжского ТО СРО ААС. Руководитель комитета Деловой России «По бюджетам, налогам НМА»<br/>
                        .team-wrapper__site 
                            p.cases-wrapper__info-text Сайт компании:
                            .team-wrapper__site-btn
                                +button('href', 'invest-audit.ru', 'invest-audit.ru')

            div(data-slide="10").swiper-slide.team-wrapper__slide.dark-back

                include ../components/team-slider-item.pug
                .cases-wrapper__info.blue-popup
                    .cases-wrapper__info-close
                        include ../../images/svg/close-menu.svg
                    div(data-simplebar).cases-wrapper__info-wrapper
                        h4.cases-wrapper__info-title Егор Чурин
                        p.cases-wrapper__info-dop Генеральный директор аудиторской компании «Инвест-аудит»
                        p.cases-wrapper__info-text Эксперт в области антикризисного управления, финансового и юридического консультирования компаний. Член Совета Приволжского ТО СРО ААС. Руководитель комитета Деловой России «По бюджетам, налогам НМА»<br/>
                        .team-wrapper__site 
                            p.cases-wrapper__info-text Сайт компании:
                            .team-wrapper__site-btn
                                +button('href', 'invest-audit.ru', 'invest-audit.ru')


        .cases-swiper-nav.team-swiper-nav
            a.cases-swiper-nav__prev.team-swiper-nav__prev
                include ../../images/svg/arrow-small.svg
            .swiper-pagination.cases-swiper-nav__pagination.team-swiper-nav__pagination
            a.cases-swiper-nav__next.team-swiper-nav__next
                include ../../images/svg/arrow-small.svg

