section.strategy.white-back
    .strategy__info 
        div(data-let="s").strategy__info-item.strategy__info-item--active
            .strategy__title-wrapper
                h2.strategy__title Strategy
                .strategy__arrow
                    include ../../images/svg/blue-arrow.svg
            .strategy__popup
                .strategy__popup-wrapper
                    p.strategy__text Мы мыслим стратегически и понимаем, что для повышения продаж недостаточно просто провести аудит и сформировать экспертную оценку, поэтому мы используем связку:
                    p.strategy__text.strategy__text--blue Мы Аналитика маркетинга и продаж + стратегия + автоматизация бизнес-процессов + финансовая и юридическая защита

        div(data-let="d").strategy__info-item
            .strategy__title-wrapper
                h2.strategy__title Delegating
                .strategy__arrow
                    include ../../images/svg/blue-arrow.svg
            .strategy__popup 

                ul.strategy__popup-wrapper.accordeon-wrapper
                    p.strategy__text Поможем развиваться. Каждый из экспертов SDA Consulting управляет компанией, которые успешно реализуют проекты во всех сферах бизнеса.
                    p.strategy__text.strategy__text--bold У нас имеются ресурсы и специалисты для решения любых бизнес-задач:

                    li.strategy__text 
                        a.strategy__text-title.accordeon-clickBox
                            .strategy__text-arrow
                                include ../../images/svg/blue-arrow-small.svg
                            p Собственный штат специалистов по интернет-маркетингу и продажам
                        p.strategy__text-dop.accordeon-dopList Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit nostrum officiis incidunt voluptate consequuntur maiores dolorem voluptates
                    li.strategy__text 
                        a.strategy__text-title.accordeon-clickBox
                            .strategy__text-arrow
                                include ../../images/svg/blue-arrow-small.svg
                            p Команда web-разработчиков (20 специалистов)
                        p.strategy__text-dop.accordeon-dopList Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit nostrum officiis incidunt voluptate consequuntur maiores dolorem voluptates
                    li.strategy__text 
                        a.strategy__text-title.accordeon-clickBox
                            .strategy__text-arrow
                                include ../../images/svg/blue-arrow-small.svg
                            p Дизайнеры
                        p.strategy__text-dop.accordeon-dopList Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit nostrum officiis incidunt voluptate consequuntur maiores dolorem voluptates
                    li.strategy__text 
                        a.strategy__text-title.accordeon-clickBox
                            .strategy__text-arrow
                                include ../../images/svg/blue-arrow-small.svg
                            p Специалисты по работе с персоналом
                        p.strategy__text-dop.accordeon-dopList Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit nostrum officiis incidunt voluptate consequuntur maiores dolorem voluptates
                    li.strategy__text 
                        a.strategy__text-title.accordeon-clickBox
                            .strategy__text-arrow
                                include ../../images/svg/blue-arrow-small.svg
                            p Аудиторы по финансовым и юридическим вопросам
                        p.strategy__text-dop.accordeon-dopList Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit nostrum officiis incidunt voluptate consequuntur maiores dolorem voluptates

        div(data-let="a").strategy__info-item
            .strategy__title-wrapper
                h2.strategy__title Action
                .strategy__arrow
                    include ../../images/svg/blue-arrow.svg
            .strategy__popup
                .strategy__popup-wrapper
                    p.strategy__text Решаем задачи не теоретически, а на практике и имеем большой опыт в сфере финансового и юридического консалтинга, комплексного продвижения, интернет-маркетинга, web разработки и автоматизации продаж.
                    p.strategy__dop 12 650 +
                    p.strategy__sign реализовали проектов

    .strategy__letters
        div(data-let="s").strategy__letter.strategy__letter--s.cursor-on.dark-back.strategy__letter--active
            img(src="../../images/letters/s.png" alt="S" data-wow-offset="150" data-wow-duration="1.2s").wow.animate__bounceInRight
            //- img(src="../../images/letters/s-shadow.png" alt="S-shadow").strategy__shadow.strategy__shadow--s

        div(data-let="d" data-wow-offset="150" data-wow-duration="1.2s").strategy__letter.strategy__letter--d.cursor-on.dark-back
            img(src="../../images/letters/d.png" alt="D" data-wow-offset="150" data-wow-duration="1.6s").wow.animate__bounceInRight
            //- img(src="../../images/letters/d-shadow.png" alt="D-shadow").strategy__shadow.strategy__shadow--d

        div(data-let="a").strategy__letter.strategy__letter--a.cursor-on.dark-back
            img(src="../../images/letters/a.png" alt="A" data-wow-offset="150" data-wow-duration="1.8s").wow.animate__bounceInRight
            //- img(src="../../images/letters/a-shadow.png" alt="A-shadow").strategy__shadow.strategy__shadow--a
