.cases.white-back.team
    .cases__title.team__title Наша команда
    .cases__wrapper.team__wrapper
        .team__info
            p SDA Consulting - это объединение экспертов-практиков, которые помогают развивать бизнес.
            p Проведем аудит за один день, пропишем стратегию за три дня, построим отдел продаж за неделю, возьмем бизнес-процессы на аутсорсинг.

        include ../components/slider-team.pug