mixin button(type, link, name)
		if type=='href'
			a(href=link).button
				span=name
		else if type='submit' 
			button(type="submit").button
				span=name
		else 
			button(type="button").button
				span=name