.header-nav
    display: flex
    align-items: center
    justify-content: space-between
    z-index: 2

.nav-items
    display: flex
    align-items: center
    & a
        color: var(--white-color)
        text-decoration: none
    &__list
        display: flex
        grid-column-gap: 59px
        padding: 0
        margin: 0
        list-style: none
        font-family: 'Montserrat'
        margin-right: 52px
    &__item
        font-weight: 500
        font-size: 20px
        line-height: 24px
