.strategy
	padding: 60px max(50vw - 800px, 20px)
	display: flex
	justify-content: space-between
	min-height: 545px

	&__info
		width: 455px
		position: relative

	&__info-item
		display: none
		position: absolute
		color: var(--black-dop4-color)
		&--active
			display: block
			animation-name: active-tab
			animation-duration: 1.2s
			animation-fill-mode: forwards
			transform: translateX(-25%)
			opacity: 0

	&__title
		font-family: 'Ubuntu'
		display: inline-flex
		font-weight: 700
		font-size: 60px
		line-height: 69px
		color: transparent
		background-clip: text
		-webkit-background-clip: text
		background-image: linear-gradient(282.48deg, #9A1AE8 -17.33%, #1F48D7 95.12%)
		padding-bottom: 8px
		margin-bottom: 20px
		border-bottom: 2px dashed #1F48D7
		align-items: center

	&__arrow
		display: none
		transform: rotate(0deg) translateY(-25%)
		transition: .6s
		&--active
			transform: rotate(-90deg) translateX(25%)
			transition: .6s

	&__text
		font-family: 'OpenSans'
		font-style: normal
		font-weight: 400
		font-size: 17px
		line-height: 150%
		letter-spacing: 0.005em
		box-sizing: border-box
		background: var(--white-color)

		&--blue
			font-weight: 600
			color: transparent
			background-clip: text
			-webkit-background-clip: text
			background-image: linear-gradient(var(--blue-dop2-color), var(--blue-dark-color))

		&--bold
			font-weight: 600
			margin: 20px 0 14px 0

	&__popup-wrapper
		list-style: none

	&__text-title
		display: inline-flex
		align-content: flex-start
		color: var(--black-dop4-color)
		cursor: pointer

		& p
			transition: opacity .3s

		&:hover
			& p
				opacity: .6

	&__text-dop
		box-sizing: border-box
		padding-left: 24px
		max-height: 0
		overflow: hidden
		padding-top: 5px
		transition: .6s

	&__text-arrow
		& svg
			min-width: 14px
			max-width: 14px
			height: 25px
			margin-right: 10px
			transition: .6s transform

	&__dop
		font-family: 'Ubuntu'
		font-weight: 700
		font-size: 36px
		line-height: 41px
		margin: 24px 0 3px 0
		color: transparent
		background-clip: text
		-webkit-background-clip: text
		background-image: linear-gradient(318.08deg, #030404 -167.83%, #1F48D7 108.08%)

	&__sign
		font-weight: 400
		font-size: 16px
		line-height: 140%
		letter-spacing: 0.005em
		color: var(--dop-silver-color)

	&__letters
		display: flex
		margin-left: 115px
		min-width: 1000px

	&__letter
		position: absolute
		transition: .7s
		height: 360px
		cursor: pointer
		z-index: 999

		& img
			max-height: 100%

		&--active
			transform: scale(1.2) translateY(-20px)

		&--s
			margin-top: -10px

		&--d
			margin-left: 280px

		&--a
			margin-left: 580px

		&:hover
			transform: scale(1.2) translateY(-20px)
			transition: .7s

	&__shadow
		position: absolute
		bottom: 0
		left: 0
		z-index: -1
		&--s
			bottom: -18px
			left: -65px
		&--d
			bottom: -23px
			left: -120px
		&--a
			bottom: -40px
			left: -130px

@keyframes active-tab
	50%
		transform: translateX(0)
	100%
		transform: translateX(0)
		opacity: 1

.close-arrow
	transform: rotate(0) translateY(-25%)
	transition: .6s

@media (max-width: 1400px)
	.strategy
		flex-direction: column-reverse
		min-height: 414px

		&__info
			width: auto
			margin-top: 250px

		&__title-wrapper
			display: flex
			align-items: center
			cursor: pointer

		&__arrow
			display: block
			margin-left: 20px

		&__text
			font-size: 22px
			line-height: 150%
			background: none

			&--bold
				font-size: 22px
				line-height: 150%

		&__info-item
			position: relative
			z-index: 99

		&__letters
			margin: 0
			justify-content: center
			min-width: 100%

		&__letter
			height: 235px
			&--s
				margin-top: 0px
				margin-left: -350px

			&--d
				margin-left: 50px

			&--a
				margin-left: 380px
				margin-top: 0px

			&--active
				transform: scale(1.2) translateY(-20px)

			&:hover
				transform: scale(1.2) translateY(-20px)

		&__shadow
			&--s
				bottom: -18px
				left: -75px
			&--d
				bottom: -23px
				left: -150px
			&--a
				bottom: -40px
				left: -200px

		&__popup
			overflow: hidden
			position: absolute
			top: 77px
			max-width: 672px
			max-height: 0
			background: var(--dop2-silver-color)
			z-index: 99
			transition: .6s
			&--opened
				max-height: 1200px
				transition: .9s

		&__popup-wrapper
			box-sizing: border-box
			padding: 40px 43px 36px 34px !important

@media (max-width: 780px)
	.strategy
		min-height: 253px

		&__title
			font-size: 40px
			line-height: 46px

		&__arrow
			margin-left: 12px
			& svg
				width: 26px

		&__info
			margin-top: 150px

		&__text
			font-size: 20px
			&--bold
				font-size: 20px

		&__letter
			height: 120px
			&--s
				margin-left: -200px

			&--d
				margin-left: 0px

			&--a
				margin-left: 190px

			&--active
				transform: scale(1.2) translateY(-10px)

			&:hover
				transform: scale(1.2) translateY(-10px)

		&__popup
			top: 56px

		&__popup-wrapper
			padding: 40px 12px 29px 20px
